body {
    margin: 0 0 0 0;
    list-style: none;
    }

h1 {
    font-size: 42px;
    font-family: sans-serif;
    color: #515151;
    text-align: center;
    background-color: #eee;
    padding: 20px 0 60px;
    margin: 0;
    border-bottom: 2px solid #515151;
    outline: 3px solid #00B4FF;
}

.postphoto {
    display: inline-block;
    width: 300px;
    height: 300px;
    list-style: none;
    position: relative;
    margin: 30px 5px;
}

img {
    width: 250px;
    border: 2px solid #00B4FF;
    position: absolute;
    left: 50%;
    top: 60%;
    height: 250px;
}